.slider{
    width: 100vw;
    height: 70rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.slider__slide{
    width: 100vw;
    height: 100%;
    position: relative;
    background-color: teal;
    transition: all 0.5s;
}
.slider__slide:nth-child(2n){
    background-color: tomato;
}
.slider__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    opacity: 0.8;
    color: var(--color-clear);
    padding: 3rem;
    transition: all 0.5s;
}
.slider__button:hover{
    opacity: 0.5;
    user-select: none;
    cursor: pointer;
}
.slider__button--right{
    right: 0;
}