{% extends "layout.html" %} {% block body %}
<section class="slider__viewport">
  <div class="slider">
    {% with slides = slideList %}
    {% if slides %}
    {% for slide in slides %}
    <div class="slider__slide" style="left: 0vw; background-image:url('..{{slide[3]}}');">
      <div class="slider__wrapper"></div>
        <h2>{{slide[1]}}</h2>
        <h3>{{slide[2]}}</h3>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <span id="back" onclick="changeSlide('previous')" class="slider__button"
      ><</span
    >
    <span
      id="next"
      onclick="changeSlide('next')"
      class="slider__button slider__button--right"
      >></span
    >
  </div>
</section>
<section class="blog__viewport">
  <div class="blog">
    {% with entraces = entradas %}
    {% if entraces %}
    {% for entrance in entraces %}
    <article class="blog__entrance">
      <div class="blog__image" style="background-image:url('..{{entrance[4]}}');"></div>
      <div class="blog__info">
        <a href="#" class="blog__title"><h4>{{entrance[1]}}</h4></a>
        <p class="blog__date">
          Publicado el <span>{{entrance[2]}}</span> por <span>Admin</span>
        </p>
        <p class="blog__text">
          {{entrance[3]}}
        </p>
      </div>
      <a href="#" class="blog__button">Ver entrada &#8594;</a>
    </article>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</section>
<script src="{{ url_for('static', filename = 'js/slider.js') }}"></script>
{% endblock %}
{% block footer %}
<section class="footer__viewport">
  <div class="footer">
    {% with info = contactInfo%}
    {% if info %}
    {% for item in info %}
    <div id="htmlt" hidden>{{item[3]}}</div>
    <div><h4>Teléfono</h4><br><span>{{item[0]}}</span><h4>WEB</h4><br><span>{{item[1]}}</span><br><span>{{item[2]}}</span></div>
    <div><h4>Ubicación</h4><br><p id="pub"></p></div>
    <script>
      var ubicacion = document.getElementById("htmlt");
      var pubicacion = document.getElementById("pub");
      pub.outerHTML = ubicacion.innerText;
    </script>
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d953.5558648832167!2d-96.71365657076934!3d17.061718899267138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7223619028c53%3A0x59fb9a533575700!2sAntiguo%20Camino%20a%20Ixcotel%20114%2C%20Centro%2C%2068000%20Oaxaca%20de%20Ju%C3%A1rez%2C%20Oax.!5e0!3m2!1ses-419!2smx!4v1615401175187!5m2!1ses-419!2smx" width="213" height="160" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
    <p>Alianza nacional de cooperación energética y generación renovable integral 2021</p>
</section>

    <script src="/static/js/main.js"></script>
  </body>
</html></div>
  </div>
</section>
{% endblock %}
